/* css styles */

h2 {
    font-size: 1.2em;
    margin-top: 20px;  /* Adjust space above */
    margin-bottom: 10px; /* Adjust space below */
}



h3 {
    font-size: 1.0em;
}

/* body {
    font-size: 16px; /* Adjust size as needed */
}
*/

